<p style="color: green"><%= notice %></p>

<% content_for :title, "Issues" %>

<h1>Issues</h1>

<%= form_with url: issues_path, method: :get, local: true do %>
  <%= select_tag :status, options_for_select(Issue.statuses.keys, params[:status]), include_blank: "Status" %>
  <%= select_tag :priority, options_for_select(Issue.priorities.keys, params[:priority]), include_blank: "Priority" %>
  <%= text_field_tag :assigned_to, params[:assigned_to], placeholder: "Assigned to" %>
  <%= submit_tag "Filter" %>
<% end %>

<hr>

<% @issues.each do |issue| %>
  <div>
    <strong><%= issue.title %></strong>
    | Status: <%= issue.status %>
    | Priority: <%= issue.priority %>
    | Assigned: <%= issue.assigned_to %>
    | Due: <%= issue.due_date %>
  </div>
<% end %>